@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #16D9E3;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #16D9E3;
  color: #16D9E3;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16D9E3;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}


.whenGameEnded{
  display: flex;
  justify-content:center;
  align-items: center;
}

.pressF {
  display: flex;
  justify-content:center;
  align-items: flex-end;
}